<div class="form-container">
  <div class="header transparent-text">
    Create Account
  </div>
  <div class="form">
    <form>
      <div class="section">
        <div class="row transparent-text">
          <label for="id">Username</label>
        </div>
        <div class="row">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username.."
          />
        </div>
      </div>
      <div class="section">
        <div class="row transparent-text">
          <label for="id">Email</label>
        </div>
        <div class="row">
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email.."
          />
        </div>
      </div>
      <div class="section">
        <div class="row transparent-text">
          <label for="role">Password</label>
        </div>
        <div class="row">
          <input
            type="text"
            id="password"
            name="password"
            placeholder="Password.."
          />
        </div>
      </div>
      <div class="section">
        <div class="row btn-container">
          <div class="submit-btn">SIGN UP</div>
        </div>
      </div>
    </form>
  </div>
</div>