<div class="form-container">
  <div class="header transparent-text">
    Sign In
  </div>
  <div class="form">
    <form>
      <div class="section">
        <div class="row social-login">
          <div class="facebook-container">
            Sign in with Facebook
          </div>
          <div class="google-container">
            Sign in with
            <span style="color:#4285f4">G</span>
            <span style="color:#ee4335">o</span>
            <span style="color:#fbbc05">o</span>
            <span style="color:#4285f4">g</span>
            <span style="color:#34a853">l</span>
            <span style="color:#ee4335">e</span>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row transparent-text">
          <label for="id">Email</label>
        </div>
        <div class="row">
          <input type="text" id="email" name="email" placeholder="Email.." />
        </div>
      </div>
      <div class="section">
        <div class="row transparent-text">
          <label for="role">Password</label>
        </div>
        <div class="row">
          <input
            type="text"
            id="password"
            name="password"
            placeholder="Password.."
          />
        </div>
      </div>
      <div class="section">
        <div class="row btn-container">
          <div class="submit-btn">SIGN IN</div>
        </div>
      </div>
    </form>
  </div>
</div>
